body{ /*Cuerpo principal del html*/
    display: flex;
    align-items: center; 
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

canvas { /*Cuerpo principal del canvas*/
    background-color: #fff;
    width: 1280;
    height: 648;
}

/*FONTS*/

@font-face {
    font-family: 'snake';
    src: url('./assets/fonts/snakethin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bm';
    src: url('./assets/fonts/bm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}